.note-item-component {
	@apply w-52 h-56 hover:scale-110 bg-cyan-300 hover:bg-cyan-400 ease-in-out duration-300;
	@apply rounded-lg shadow-lg p-4 flex flex-col items-center text-white cursor-pointer;
}

.note-item-component__name {
	@apply my-3 text-xl font-semibold w-full text-start;
}

.note-item-component__content {
	@apply text-ellipsis overflow-hidden w-full;
	@apply text-sm leading-4 text-justify;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}

.note-item-component-modal{
    @apply h-full w-full absolute top-0 left-0 bg-black bg-opacity-10;
    @apply flex items-center justify-center hidden;
}

#note-item-modal-3{
    @apply flex;
}

.note-item-component-modal__container {
    @apply rounded-lg p-6 bg-white w-10/12 text-cyan-700;
    min-height: 300px;
    max-width: 400px;
}

.note-item-component-modal__header {
    @apply mb-2 flex justify-between items-center;
}

.note-item-component-modal__name {
    @apply text-2xl font-semibold;
}

.note-item-component-modal__actions {
    @apply flex items-center justify-center gap-4;
}