<div class="top-navbar-component">
    <a class="top-navbar-component__title" routerLink="/notes">
      myNotes! 
      <i class="fa-solid fa-book-bookmark"></i>
    </a>
    <div class="top-navbar-component__actions">
      <a class="top-navbar-component__new-note" routerLink="/new-note">
        new Note
        <i class="fa-thin fa-plus"></i>
      </a>
      <button class="top-navbar-component__logout" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
</div>
